* {
    margin-top: 10%;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  a{
    text-decoration: none;
    font-family: "timberline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  a:link{
    text-decoration: none;
  }

  a:visited{
    text-decoration: none;
  }


  a:active{
    text-decoration: none;
  }

  body {
    background-color: #333333;
  }
  
  .parent{
    display: inline; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 35%;
    margin-right: 10%;    
  }


  .we, .have, .pain{
    display: inline;
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
    word-spacing: 20px;
  
  }

  .we{
    animation-name: we;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: we;
    -webkit-animation-delay: none;
    -webkit-animation-direction: forwards;
    -webkit-animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
  }

  .have{
    animation-name: allHave;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: allHave;
    -webkit-animation-delay: none;
    -webkit-animation-direction: forwards;
    -webkit-animation-duration: 5s;
    -webkit-animation-fill-mode: forwards;
  }

   .pain, a{
    animation-name: painRed;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    -webkit-animation-name: painRed;
    -webkit-animation-delay: none;
    -webkit-animation-direction: forwards;
    -webkit-animation-duration: 7s;
    -webkit-animation-fill-mode: forwards;
  } 

  @keyframes we {
    from {
      font-size: 1px;
      color: #333333;
    }
    to {
      font-size: 80px;
      color: rgb(0, 0, 0);
    } 
  }

  @keyframes allHave{
    from{
      font-size: 80px;
      color: white;
    }
    to {
      font-size: 80px;
      color: white;
    }
  }


  @keyframes painRed {
    from {
      color: white;
    }
    to {
      font-size: 80px;
      color: rgb(218, 6, 6);
    }
  }



  