*{
  margin: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}

body {
  background-color: #333333;
  color: white;
  font-size: 80px;
  font-family: "baskerville-urw", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: rgb(255, 204, 236);
  position: relative;
  font-family: "timberline", sans-serif;
  font-weight: 400;
}

a:hover {
  opacity: 0.6;
}

div {
  text-align: center;
  
}

#parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lean {
  display:inline-flex;
  animation: lean 5s;
  animation-fill-mode: forwards;
  animation-duration: forwards;
  animation-iteration-count: 1;
  margin-top: 30%;
  margin-left: 5%;
}

#onMe {
  display: inline;
  padding-top: 20%;
  padding-bottom: 70%;
}

#leanDown {
  animation-name: strong;
  animation-delay: 1s;
  animation-direction: forwards;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

.nav {
  display:inline-flex;
  animation: animation 4.5s;
  animation-fill-mode: forwards;
  animation-duration: forwards;
  animation-iteration-count: 1;

}

#friend {
  padding-top: 20%;
  padding-bottom: 70%;
  animation-name: friend;
  animation-delay: 1s;
  animation-direction: forwards;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

#friendMiddle {
  color: white;
  animation-name: friendMiddle;
  animation-delay: 4.5s;
  animation-direction: forwards;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#friendMiddle:hover{
  color: rgb(238, 187, 219);
}

#carryOn {
  padding-top: 20%;
  padding-bottom: 29%;

}

#nextPG {
  animation-name: next;
  animation-delay: 10s;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#nextPg:hover {
  color: rgb(199, 97, 162);
}

@keyframes lean {
  0% {
    transform: skew(0deg);
  }

  100% {
      transform: skew(-40deg);
  }
}

@keyframes strong {
  0% {
      /* font-size: 80px; */
      color: rgb(255, 204, 236);
  }
  25%{
      /* font-size: 85px; */
      color: rgb(238, 187, 219);
  }
  50%{
      /* font-size: 100px; */
      color: rgb(200, 141, 178);
  }
  75% {
      /* font-size: 140px; */
      color: rgb(199, 97, 162);
  }
  100% {
      /* font-size: 140px; */
      color: rgb(200, 60, 149);
  }
}

@keyframes animation {
  0% {
      translate: 0px 0px;
  }
      
  100% {
      translate: -450px 80px;
      transform: scale(2);
  }
}

@keyframes friend {
  0% {
      color: rgb(255, 204, 236);
  }
  10%{  
      color: rgb(238, 187, 219);
  } 
  15%{
      color: rgb(238, 187, 219);
  }       
  25%{
      color: rgb(238, 187, 219);
  }
  35%{ 
      color: rgb(200, 141, 178);
  }    
  50%{
      color: rgb(200, 141, 178);
  }
  65%{
      color: rgb(200, 141, 178);
  }    
  75% { 
      color: rgb(199, 97, 162);
  }
  85%{
      color: rgb(199, 97, 162);
  }
  95%{
      color: rgb(199, 97, 162);
  }        
  100% {
      color: rgb(200, 60, 149);
  }
}

@keyframes friendMiddle {
  0% {
      font-size: 80px;
      opacity: 0;
  }   
  50% {
      font-size: 80px;
      opacity: 0;
  }  
  100% {
      font-size: 115px;
      opacity: 1;
  }
}

@keyframes next {
  0% {
      color: #FAFCD9;
      text-shadow: none;
  }
  50% {
      color: rgb(255, 204, 236);
      text-shadow: 0px 0px 10px;
  }
  100% {
      color: rgb(255, 168, 222);
      text-shadow: none;
  }
}
