* {
    margin-top: 5%;
    padding: 0;
    max-height: 100vh;
    width: 130%;
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
    font-family: "timberline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  a:link{
    text-decoration: none;
  }

  a:visited{
    text-decoration: none;
  }

  a:hover{
    color: rgb(255, 168, 222);
    font-size: 120px;
  }

  a:active{
    text-decoration: none;
  }

  body {
    min-height: 100vh;
    width: 100%;
    color: white;
    background-color: #333333;
    font-size: 80px;
    text-align: center;
    position: relative;
  }
  
  .parentOne {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }


  .lyricsTwo, .but, .if, .weAre, .wise, .we, .know, .that, .theres, .always, .tomorrow {
    /* background-color: red; */
    display: inline;
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
    word-spacing: 20px;

  }

  .if {
    animation-name: if;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 6s;
    animation-fill-mode: forwards;

  }

  .weAre{
    animation-name: weAre;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 6s;
    animation-fill-mode: forwards;
  }

  .weAre:hover{
    text-transform: capitalize;
  }

  .wise{
    animation-name: wise;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;


  }

  .that {
    animation-name: that;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 6s;
    animation-fill-mode: forwards;

  }

   .but {
    animation-name: but;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;

  }


  .we {
    animation-name: weKnow;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;

  }

  .always {
    animation-name: always;
    animation-delay: none;
    animation-direction: forwards;
    animation-duration: 5s;
    animation-fill-mode: forwards;

  }

  .tomorrow {
    animation: tomorrow .5s infinite;
  } 



  @keyframes but {
    0%{opacity:1;}
    100%{opacity:0;}
  }

  @keyframes if {
    0%{opacity:1;}
    100%{opacity:0;}
  }

  @keyframes weAre{
    from{
      font-size: 2px; 
      color: white;
    }
    to{
      font-size: 80px;
      color: white;
    } 
  }

  @keyframes we {
    from{
      font-size: 2px; 
      color: white;
    }
    to{
      font-size: 130px;
      color: rgb(255, 255, 255);
    }

  }

  @keyframes wise {
    from{
      font-size: 2px; 
      color: white;
    }
    to{
      font-size: 118px;
      color: #af7c88;
    }
  }


  @keyframes that {
    0%{opacity:1;}
    100%{opacity:0;}
  }

   
  @keyframes always{
    from{ 
      font-size: 2px;
    }
    to{
      font-size: 118px;
      color: #f0baca;

    }
  } 


  @keyframes tomorrow {
    0% {
      background: #d1a1ac; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(
        45deg,
        #d1a1ac,
        #af7c88 27%,
        #d1b1b9 53%,
        #e5d0d6 77%,
        #edc2ce
      ); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(
        45deg,
        #d1a1ac,
        #af7c88 27%,
        #d1b1b9 53%,
        #e5d0d6 77%,
        #edc2ce
      ); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(
        45deg,
        #d1a1ac,
        #af7c88 27%,
        #d1b1b9 53%,
        #e5d0d6 77%,
        #edc2ce
      ); /* For Firefox 3.6 to 15 */
      background: linear-gradient(
        45deg,
        #d1a1ac,
        #af7c88 27%,
        #d1b1b9 53%,
        #e5d0d6 77%,
        #edc2ce
      ); /* Standard syntax */
  
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    25% {
      background: #edc2ce; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(
        45deg,
        #edc2ce,
        #d1a1ac 27%,
        #af7c88 53%,
        #d1b1b9 77%,
        #e5d0d6
      ); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(
        45deg,
        #edc2ce,
        #d1a1ac 27%,
        #af7c88 53%,
        #d1b1b9 77%,
        #e5d0d6
      ); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(
        45deg,
        #edc2ce,
        #d1a1ac 27%,
        #af7c88 53%,
        #d1b1b9 77%,
        #e5d0d6
      ); /* For Firefox 3.6 to 15 */
      background: linear-gradient(
        45deg,
        #edc2ce,
        #d1a1ac 27%,
        #af7c88 53%,
        #d1b1b9 77%,
        #e5d0d6
      ); /* Standard syntax */
  
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    50% {
      background: #e5d0d6; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(
        45deg,
        #e5d0d6,
        #edc2ce 27%,
        #d1a1ac 53%,
        #af7c88 77%,
        #d1b1b9
      ); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(
        45deg,
        #e5d0d6,
        #edc2ce 27%,
        #d1a1ac 53%,
        #af7c88 77%,
        #d1b1b9
      ); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(
        45deg,
        #e5d0d6,
        #edc2ce 27%,
        #d1a1ac 53%,
        #af7c88 77%,
        #d1b1b9
      ); /* For Firefox 3.6 to 15 */
      background: linear-gradient(
        45deg,
        #e5d0d6,
        #edc2ce 27%,
        #d1a1ac 53%,
        #af7c88 77%,
        #d1b1b9
      ); /* Standard syntax */
  
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    75% {
      background: #d1b1b9; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(
        45deg,
        #d1b1b9,
        #e5d0d6 27%,
        #edc2ce 53%,
        #d1a1ac 77%,
        #af7c88
      ); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(
        45deg,
        #d1b1b9,
        #e5d0d6 27%,
        #edc2ce 53%,
        #d1a1ac 77%,
        #af7c88
      ); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(
        45deg,
        #d1b1b9,
        #e5d0d6 27%,
        #edc2ce 53%,
        #d1a1ac 77%,
        #af7c88
      ); /* For Firefox 3.6 to 15 */
      background: linear-gradient(
        45deg,
        #d1b1b9,
        #e5d0d6 27%,
        #edc2ce 53%,
        #d1a1ac 77%,
        #af7c88
      ); /* Standard syntax */
  
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    100% {
      background: #af7c88; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(
        45deg,
        #af7c88,
        #d1b1b9 27%,
        #e5d0d6 53%,
        #edc2ce 77%,
        #d1a1ac
      ); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(
        45deg,
        #af7c88,
        #d1b1b9 27%,
        #e5d0d6 53%,
        #edc2ce 77%,
        #d1a1ac
      ); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(
        45deg,
        #af7c88,
        #d1b1b9 27%,
        #e5d0d6 53%,
        #edc2ce 77%,
        #d1a1ac
      ); /* For Firefox 3.6 to 15 */
      background: linear-gradient(
        45deg,
        #af7c88,
        #d1b1b9 27%,
        #e5d0d6 53%,
        #edc2ce 77%,
        #d1a1ac
      ); /* Standard syntax */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  

